    <h1>Restaurant Data</h1>
    <table>
        <thead>
            <tr>
                <th>address</th>
                <th>borough</th>
                <th>cuisine</th>
                <th>grades</th>
                <th>name</th>
                <th>restaurant_id</th>
            </tr>
        </thead>
        <tbody>
            {{#each restaurants}}
            <tr>
                <td>{{this.address}}</td>
                <td>{{this.borough}}</td>
                <td>{{this.cuisine}}</td>
                <td>{{this.grades}}</td>
                <td>{{this.name}}</td>
                <td>{{this.restaurant_id}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

